
#card {
    height: 20rem;
    width: 20rem;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
}

#card[data-isOpen="true"] {
    width: 80vw;
    height: 90vh;
    z-index: 10;
    position: absolute;
}